.about-container {
  max-width: 500px;
  margin: 2.5rem auto;
  background: rgba(21, 37, 56, 0.99);
  padding: 2.1rem;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 #00ffdfa7, 0 1px 20px 0 #0d81ca22;
  border: 1.5px solid #19ffdbaa;
  color: #a6ffe7;
  font-size: 1.09rem;
  backdrop-filter: blur(3px);
}
.about-container ul {
  list-style: disc inside;
  margin: 1.2rem 0;
  color: #7cffdf;
}
.about-container h4 {
  font-size: 1.15rem;
  margin-top: 2.2rem;
  color: #15ffa1;
  text-shadow: 0 0 9px #0ed1a8;
}
