.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(10, 20, 40, 0.95);
  color: #26ffe1;
  padding: 1rem 2rem 1rem 2rem;
  border-bottom: 2px solid #23ffd6;
  box-shadow: 0 1px 14px rgba(40,255,249, 0.07);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0 0 5px #23ffd6, 0 0 15px #23ffd6;
}

nav a {
  color: #74fff2;
  margin-left: 2.5rem;
  font-weight: 600;
  font-size: 1.13rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
  transition: color 0.13s, border 0.15s;
}

nav a.active, nav a:hover {
  color: #11ff81;
  border-bottom: 2px solid #0fef8f;
  text-shadow: 0 0 5px #11ff81;
}
