body {
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Liberation Sans', 'Nimbus Sans', sans-serif;
  background: linear-gradient(135deg, #040713 0%, #21264e 100%);
  color: #c8ffe4;
  margin: 0;
  min-height: 100vh;
  background-attachment: fixed;
  box-sizing: border-box;
}

.main-content {
  min-height: 90vh;
}

a {
  color: #07f9d1;
}

h1, h2, h3, h4 {
  font-family: 'Segoe UI', 'Arial Black', 'sans-serif';
  letter-spacing: 1px;
}
